openapi: 3.0.0
info:
  title: 'Swagger checkmate apis'
  description: "checkmate api.  You can find\nout more about api at http://subbieapp.com/"
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: dinhminhquoi@yahoo.com
  license:
    name: 'Apache 2.0'
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  -
    url: 'http://subbieapp.com/checkmate/api/'
    description: 'OpenApi host'
  -
    url: 'http://checkmate/'
    description: 'OpenApi host'
paths:
  /LoginController/registration:
    post:
      tags:
        - login
      summary: ''
      description: ''
      operationId: projectStep3
      parameters:
        -
          name: name
          in: query
          description: 'your username'
          required: true
          schema:
            type: string
        -
          name: email_id
          in: query
          description: 'your email_id'
          required: true
          schema:
            type: string
        -
          name: password
          in: query
          description: 'your password'
          required: true
          schema:
            type: string
        -
          name: location_id
          in: query
          description: 'your location_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: device_token
          in: query
          description: 'your device_token'
          required: true
          schema:
            type: string
        -
          name: device_type
          in: query
          description: 'your device_type'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /LoginController/login:
    post:
      tags:
        - login
      summary: ''
      description: ''
      operationId: login
      parameters:
        -
          name: email_id
          in: query
          description: 'your email_id'
          required: true
          schema:
            type: string
        -
          name: password
          in: query
          description: 'your password'
          required: true
          schema:
            type: string
        -
          name: device_token
          in: query
          description: 'your device_token'
          required: true
          schema:
            type: string
        -
          name: device_type
          in: query
          description: 'your device_type'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /LoginController/logout:
    post:
      tags:
        - login
      summary: ''
      description: ''
      operationId: logout
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/siteMaster:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: siteMaster
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: MASTER_TYPE
          in: query
          description: ''
          schema:
            type: integer
            format: int32
        -
          name: SEARCH_TEXT
          in: query
          description: ''
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectStep1:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectStep1
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: site_manager_id
          in: query
          description: site_manager_id
          required: true
          schema: {  }
        -
          name: project_contract_administrator_id
          in: query
          description: project_contract_administrator_id
          required: true
          schema: {  }
        -
          name: healthandsafty_rep_id
          in: query
          description: healthandsafty_rep_id
          required: true
          schema: {  }
        -
          name: project_name
          in: query
          description: project_name
          required: true
          schema:
            type: string
        -
          name: client_id
          in: query
          description: client_id
          required: true
          schema:
            type: string
        -
          name: project_address
          in: query
          description: project_address
          required: true
          schema:
            type: string
        -
          name: project_city
          in: query
          description: project_city
          required: true
          schema:
            type: string
        -
          name: project_lat
          in: query
          description: project_lat
          required: true
          schema:
            type: string
        -
          name: project_lng
          in: query
          description: project_lng
          required: true
          schema:
            type: string
        -
          name: project_da_working_hrs
          in: query
          description: project_da_working_hrs
          required: true
          schema: {  }
        -
          name: project_manager_id
          in: query
          description: project_manager_id
          required: true
          schema:
            type: string
        -
          name: project_id
          in: query
          description: project_id_for_edit 
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectStep2:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectStep2
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_start_date
          in: query
          required: true
          schema:
            type: string
        -
          name: project_completion_date
          in: query
          required: true
          schema:
            type: string
        -
          name: project_total_months
          in: query
          required: true
          schema:
            type: string
        -
          name: project_foreman_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_manager_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_site_manager_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_first_aider_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_number
          in: query
          required: true
          schema:
            type: string
        -
          name: project_estimate
          in: query
          required: true
          schema:
            type: string
        -
          name: project_status
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectStep3:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectStep3
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_brief_scope
          in: query
          required: true
          schema:
            type: string
        -
          name: project_scope
          in: query
          required: true
          schema:
            type: string
        -
          name: project_site_map
          in: query
          required: true
          schema:
            type: string
        -
          name: project_picture
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addSiteMap:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addSiteMap
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_site_map
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addProjectPicture:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addProjectPicture
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: string
        -
          name: project_image
          in: query
          description: 'Base_64 of image'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/markProjectActive:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: markProjectActive
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectList:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: RESULT_TYPE
          in: query
          description: 'your RESULT_TYPE'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectDetail:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectDetail
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/getSubbyLocation:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: getSubbyLocation
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: all_location
          in: query
          description: '1 for all user of a Project  else 0 for selected User'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateSubbyTimeSheet:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateSubbyTimeSheet
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: inout
          in: query
          description: '0 for Loged in 1 for Logged Out'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/getSubbyTimeSheet:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: getSubbyTimeSheet
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateSubbyLocation:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateSubbyLocation
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: positionX
          in: query
          description: 'X Cordinate '
          required: true
          schema:
            type: string
        -
          name: positionY
          in: query
          description: 'Y Cordinate'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectDetailFull:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectDetailFull
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: milestone_req
          in: query
          description: '1 if needed else 0'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/equipmentList:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: equipmentList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/equipmentAdd:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: equipmentAdd
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: equipment_name
          in: query
          required: true
          schema:
            type: string
        -
          name: short_desc
          in: query
          required: true
          schema:
            type: string
        -
          name: long_desc
          in: query
          required: true
          schema:
            type: string
        -
          name: image
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addTeamToProject:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addTeamToProject
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: team_member_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/inviteCode:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: inviteCode
      parameters:
        -
          name: code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/createAccountByInviteCode:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: createAccountByInviteCode
      parameters:
        -
          name: code
          in: query
          required: true
          schema:
            type: string
        -
          name: name
          in: query
          required: true
          schema:
            type: string
        -
          name: email_id
          in: query
          required: true
          schema:
            type: string
        -
          name: password
          in: query
          required: true
          schema:
            type: string
        -
          name: location_id
          in: query
          required: true
          schema:
            type: string
        -
          name: device_token
          in: query
          required: true
          schema:
            type: string
        -
          name: device_type
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addInviteResource:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addInviteResource
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: organisation_name
          in: query
          description: 'your organisation_name'
          required: true
          schema:
            type: string
        -
          name: email_address
          in: query
          description: 'your email_address'
          required: true
          schema:
            type: string
        -
          name: password
          in: query
          description: 'your password'
          required: true
          schema:
            type: string
        -
          name: location_id
          in: query
          description: 'your location_id'
          required: true
          schema:
            type: string
        -
          name: resource_type
          in: query
          description: 'your resource_type'
          required: true
          schema:
            type: string
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: string
        -
          name: payment_type
          in: query
          description: 'your payment_type'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: paymetn_value
          in: query
          description: 'your paymetn_value'
          required: true
          schema:
            type: string
        -
          name: employee_position
          in: query
          description: 'your employee_position'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: working_hours
          in: query
          description: 'your working_hours'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: manager
          in: query
          description: 'your manager'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addResourceToProject:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addResourceToProject
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: resources_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addEquipementToProject:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addEquipementToProject
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: equipment_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addTask:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addTask
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: milestone_id
          in: query
          description: 'your milestone_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_name
          in: query
          description: 'your task_name'
          required: true
          schema:
            type: string
        -
          name: task_start_date
          in: query
          description: 'your task_start_date'
          required: true
          schema:
            type: string
        -
          name: task_end_date
          in: query
          description: 'your task_end_date'
          required: true
          schema:
            type: string
        -
          name: task_description
          in: query
          description: 'your task_description'
          required: true
          schema:
            type: string
        -
          name: task_estimation
          in: query
          description: 'your task_estimation'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_team
          in: query
          description: 'your task_team'
          required: true
          schema:
            type: string
        -
          name: task_team_leader
          in: query
          description: 'your task_team_leader'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_equipment
          in: query
          description: 'your task_equipment'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/taskList:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: taskList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: milestone_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addSubTask:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addSubTask
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_start_date
          in: query
          description: 'your subtask_start_date'
          required: true
          schema:
            type: string
        -
          name: subtask_end_date
          in: query
          description: 'your subtask_end_date'
          required: true
          schema:
            type: string
        -
          name: task_id
          in: query
          description: 'your task_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_name
          in: query
          description: 'your subtask_name'
          required: true
          schema:
            type: string
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_estimate
          in: query
          description: 'your subtask_estimate'
          required: true
          schema:
            type: string
        -
          name: subtask_description
          in: query
          description: 'your subtask_description'
          required: true
          schema:
            type: string
        -
          name: subtask_team
          in: query
          description: 'your subtask_team'
          required: true
          schema:
            type: string
        -
          name: subtask_team_leader
          in: query
          description: 'your subtask_team_leader'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_equipment
          in: query
          description: 'your subtask_equipment'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/subTaskList:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: subTaskList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: task_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '400':
          description: ''
  /ProjectController/editMilestone:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: editMilestone
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: milestone_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: project_milestone_coordinates
          in: query
          description: 'your project_milestone_coordinates'
          required: true
          schema:
            type: string
        -
          name: project_team
          in: query
          description: 'your project_team'
          required: true
          schema:
            type: string
        -
          name: project_equipment
          in: query
          description: 'your project_equipment'
          required: true
          schema:
            type: string
        -
          name: start_date
          in: query
          description: 'your start_date'
          required: true
          schema:
            type: string
        -
          name: project_teamlead
          in: query
          description: 'your project_teamlead'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_milestone_name
          in: query
          description: 'your project_milestone_name'
          required: true
          schema:
            type: string
        -
          name: punch_list_type
          in: query
          description: 'your punch_list_type'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_milestone_estimate
          in: query
          description: 'your project_milestone_estimate'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_description
          in: query
          description: 'your project_description'
          required: true
          schema:
            type: string
        -
          name: budget
          in: query
          description: 'your budget'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/milestoneList:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: milestoneList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: need_project_details
          in: query
          required: true
          schema:
            type: string
        -
          name: project_picture
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addProjectMilestone:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addProjectMilestone
      parameters:
        -
          name: project_milestone_coordinates
          in: query
          description: 'your project_milestone_coordinates'
          required: true
          schema:
            type: string
        -
          name: project_team
          in: query
          description: 'your project_team'
          required: true
          schema:
            type: string
        -
          name: project_equipment
          in: query
          description: 'your project_equipment'
          required: true
          schema:
            type: string
        -
          name: start_date
          in: query
          description: 'your start_date'
          required: true
          schema:
            type: string
        -
          name: project_teamlead
          in: query
          description: 'your project_teamlead'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_milestone_name
          in: query
          description: 'your project_milestone_name'
          required: true
          schema:
            type: string
        -
          name: punch_list_type
          in: query
          description: 'your punch_list_type'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: user_id
          in: query
          description: 'your user_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: access_token
          in: query
          description: 'your access_token'
          required: true
          schema:
            type: string
        -
          name: project_milestone_estimate
          in: query
          description: 'your project_milestone_estimate'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_description
          in: query
          description: 'your project_description'
          required: true
          schema:
            type: string
        -
          name: budget
          in: query
          description: 'your budget'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addTodo:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addTodo
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: todo_title
          in: query
          description: 'your todo_title'
          required: true
          schema:
            type: string
        -
          name: start_date
          in: query
          description: 'your start_date'
          required: true
          schema:
            type: string
        -
          name: end_date
          in: query
          description: 'your end_date'
          required: true
          schema:
            type: string
        -
          name: todo_desc
          in: query
          description: 'your todo_desc'
          required: true
          schema:
            type: string
        -
          name: todo_team
          in: query
          description: 'your todo_team'
          required: true
          schema:
            type: string
        -
          name: todo_team_lead
          in: query
          description: 'your todo_team_lead'
          required: true
          schema:
            type: string
        -
          name: todo_equipment
          in: query
          description: 'your todo_equipment'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/employee:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: employee
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: employee_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/equipment:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: equipment
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: equipment_id
          in: query
          description: 'your equipment_id'
          required: true
          schema:
            type: string
        -
          name: SEARCH_TEXT
          in: query
          description: 'your SEARCH_TEXT'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectData:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectData
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateTask:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateTask
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_id
          in: query
          description: 'your task_id'
          required: true
          schema:
            type: string
        -
          name: project_id
          in: query
          description: 'project_id'
          required: true
          schema:
            type: string
        -
          name: milestone_id
          in: query
          description: 'your milestone_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_name
          in: query
          description: 'your task_name'
          required: true
          schema:
            type: string
        -
          name: task_start_date
          in: query
          description: 'your task_start_date'
          required: true
          schema:
            type: string
        -
          name: task_end_date
          in: query
          description: 'your task_end_date'
          required: true
          schema:
            type: string
        -
          name: task_description
          in: query
          description: 'your task_description'
          required: true
          schema:
            type: string
        -
          name: task_estimation
          in: query
          description: 'your task_estimation'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_team
          in: query
          description: 'your task_team'
          required: true
          schema:
            type: string
        -
          name: task_team_leader
          in: query
          description: 'your task_team_leader'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_equipment
          in: query
          description: 'your task_equipment'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateSubtask:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateSubtask
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: task_id
          in: query
          description: 'your task_id'
          required: true
          schema:
            type: string
        -
          name: subtask_id
          in: query
          description: 'your subtask_id'
          required: true
          schema:
            type: string
        -
          name: subtask_name
          in: query
          description: 'your subtask_name'
          required: true
          schema:
            type: string
        -
          name: subtask_start_date
          in: query
          description: 'your subtask_start_date'
          required: true
          schema:
            type: string
        -
          name: subtask_end_date
          in: query
          description: 'your subtask_end_date'
          required: true
          schema:
            type: string
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_estimate
          in: query
          description: 'your subtask_estimate'
          required: true
          schema:
            type: string
        -
          name: subtask_description
          in: query
          description: 'your subtask_description'
          required: true
          schema:
            type: string
        -
          name: subtask_team
          in: query
          description: 'your subtask_team'
          required: true
          schema:
            type: string
        -
          name: subtask_team_leader
          in: query
          description: 'your subtask_team_leader'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: subtask_equipment
          in: query
          description: 'your subtask_equipment'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectUsers:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectUsers
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: search_text
          in: query
          description: 'your search_text'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/projectEquipments:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: projectEquipments
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          required: true
          schema:
            type: string
        -
          name: search_text
          in: query
          description: 'your search_text'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/addPayment:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: addPayment
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: wage
          in: query
          description: 'your wage'
          required: false
          schema:
            type: integer
            format: int32
        -
          name: salary
          in: query
          description: 'your salary'
          required: false
          schema:
            type: integer
            format: int32
        -
          name: hourly_rate
          in: query
          description: 'your hourly_rate'
          required: false
          schema:
            type: integer
            format: int32
        -
          name: day_rate
          in: query
          description: 'your day_rate'
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/ProfileAvatar:
    get:
      tags:
        - project
      summary: ''
      description: ''
      operationId: ProfileAvatar_
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: ProfileAvatar
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: image
          in: query
          description: 'your image'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/editProject:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: editProject
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_name
          in: query
          description: 'your project_name'
          required: true
          schema:
            type: string
        -
          name: project_estimate
          in: query
          description: 'your project_estimate'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_no
          in: query
          description: 'your project_no'
          required: true
          schema:
            type: string
        -
          name: site_contractor_id
          in: query
          description: 'your site_contractor_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: client_id
          in: query
          description: 'your client_id'
          required: true
          schema:
            type: string
        -
          name: project_address
          in: query
          description: 'your project_address'
          required: true
          schema:
            type: string
        -
          name: project_city
          in: query
          description: 'your project_city'
          required: true
          schema:
            type: string
        -
          name: project_lat
          in: query
          description: 'your project_lat'
          required: true
          schema:
            type: string
        -
          name: project_lng
          in: query
          description: 'your project_lng'
          required: true
          schema:
            type: string
        -
          name: project_status
          in: query
          description: 'your project_status'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_da_working_hrs
          in: query
          description: 'your project_da_working_hrs'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_director_id
          in: query
          description: 'your project_director_id'
          required: true
          schema:
            type: string
        -
          name: project_manager_id
          in: query
          description: 'your project_manager_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_start_date
          in: query
          description: 'your project_start_date'
          required: true
          schema:
            type: string
        -
          name: project_completion_date
          in: query
          description: 'your project_completion_date'
          required: true
          schema:
            type: string
        -
          name: project_total_months
          in: query
          description: 'your project_total_months'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_site_number
          in: query
          description: 'your project_site_number'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_site_manager_id
          in: query
          description: 'your project_site_manager_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_foreman_id
          in: query
          description: 'your project_foreman_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_site_eng_id
          in: query
          description: 'your project_site_eng_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_rep_id
          in: query
          description: 'your project_rep_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_contract_administrator_id
          in: query
          description: 'your project_contract_administrator_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_brief_scope
          in: query
          description: 'your project_brief_scope'
          required: true
          schema:
            type: string
        -
          name: project_scope
          in: query
          description: 'your project_scope'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/deleteProject:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: deleteProject
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: status
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateProjectStatus:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateProjectStatus
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: 'your project_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: status
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/updateMilestoneStatus:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: updateMilestoneStatus
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: project_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: status
          in: query
          required: true
          schema:
            type: string
        -
          name: milestone_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/WorkingHours:
    post:
      tags:
        - project
      summary: ''
      description: ''
      operationId: WorkingHours
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: time_from
          in: query
          description: 'your time_from hA'
          required: true
          schema:
            type: string
        -
          name: time_to
          in: query
          description: 'your time_to hA'
          required: true
          schema:
            type: string
        -
          name: date_from
          in: query
          description: 'your date_from days of week[mon-sun]'
          required: true
          schema:
            type: string
        -
          name: date_to
          in: query
          description: 'your date_to days of week[mon-sun]'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /ProjectController/WorkingHoursList:
    get:
      tags:
        - project
      summary: ''
      description: ''
      operationId: WorkingHoursList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkingHoursList'
        '400':
          description: ''
  /RabbitController/VerifyPin:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: VerifyPin
      parameters:
        -
          name: token
          in: query
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/InductionAdd:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: InductionAdd
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: employer_phone_number
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: employer_contact_person
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: employer_name
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: employer_email_address
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: employer_address
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_first_name
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_surname
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_date_birth
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_mobile_phone
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_address
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_trade
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_employee_position
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: person_inducted_business_email_address
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: emergency_contact_person_name
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: emergency_contact_relationship
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: emergency_contact_date_birth
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: emergency_contact_address
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: is_medical_condition
          in: query
          description: ''
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/InductionData:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: InductionData
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/SkillsAdd:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: SkillsAdd
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: is_competecy_certificates
          in: query
          description: ''
          required: true
          schema:
            type: boolean
        -
          name: certificate_date
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: name_trainning_provider
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: general_contruction_induction_card
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: date_birth
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: screenshots
          in: query
          description: ' string'
          required: true
          schema:
            type: string
        -
          name: avatar
          in: query
          description: 'base64 string'
          required: true
          schema:
            type: string
        -
          name: signature
          in: query
          description: 'base64 string'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/SkillsData:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: SkillsData
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/TaxAdd:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: TaxAdd
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: tax_obj
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: name_financial
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: branch
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: bsb_number
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: account_number
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: contact_person_name
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: their_phone_number
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: relationship_you
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: date_birth
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: address
          in: query
          description: ''
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/TaxData:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: TaxData
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/ProfileData:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: ProfileData
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/ProfileAvatar:
    get:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: ProfileAvatar
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: name
          in: query
          description: 'your name'
          required: true
          schema:
            type: string
        -
          name: image
          in: query
          description: 'your image'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: ProfileAvatar
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: image
          in: query
          description: 'your image'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/ScreenshotUpload:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: ScreenshotUpload
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: name
          in: query
          description: 'your name'
          required: true
          schema:
            type: string
        -
          name: image
          in: query
          description: 'your image'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/ScreenshotsList:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: ScreenshotsList
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/User:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: User
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
        -
          name: client_name
          in: query
          description: 'your client name'
          required: true
          schema:
            type: string
        -
          name: employee_name
          in: query
          description: 'your employee name'
          required: true
          schema:
            type: string
        -
          name: email_id
          in: query
          description: 'your email_id'
          required: true
          schema:
            type: string
        -
          name: title
          in: query
          description: 'your title'
          required: true
          schema:
            type: string
        -
          name: phone
          in: query
          description: 'your phone'
          required: true
          schema:
            type: string
        -
          name: type
          in: query
          description: 'your type: type: 1 user,2 client,3 project manager,4 contractors administrator,5 site manager, 6proxy project manager,7 proxy site manager, 8 site foreman'
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/UsersList:
    get:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: UsersList
      parameters:
        -
          name: access_token
          in: query
          description: 'your access_token'
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: 'your user_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: type
          in: query
          description: 'your type: 1 user,2 client,3 project manager,4 contractors administrator,5 site manager, 6proxy project manager,7 proxy site manager, 8 site foreman'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: keyword
          in: query
          description: 'your keyword'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: UsersList
      parameters:
        -
          name: access_token
          in: query
          description: 'your access_token'
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: 'your user_id'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: type
          in: query
          description: 'your type: 1 user,2 client,3 project manager,4 contractors administrator,5 site manager, 6proxy project manager,7 proxy site manager, 8 site foreman'
          required: true
          schema:
            type: integer
            format: int32
        -
          name: keyword
          in: query
          description: 'your keyword'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/ResourcesList:
    get:
      tags:
        - project
      summary: ''
      description: ''
      operationId: ResourcesList
      parameters:
        -
          name: access_token
          in: query
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/AutoSignUp:
    post:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: AutoSignUp
      parameters:
        -
          name: collection
          in: query
          description: 'your [{''name'':'''',''emailId'':'''',''password'':'''',''image'':'''',''user_type'':1/2,''status'':true/false}]'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
  /RabbitController/milestoneList:
    get:
      tags:
        - rabbit
      summary: ''
      description: ''
      operationId: milestoneList
      parameters:
        -
          name: access_token
          in: query
          description: ''
          required: true
          schema:
            type: string
        -
          name: user_id
          in: query
          description: ''
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'successful operation'
        '400':
          description: ''
components:
  schemas:
    WorkingHoursList:
      description: 'The unique identifier of a product in our catalog'
      type: integer
      format: int64
